<div class="education-container container-block">
    <h2 class="container-block-title">Education</h2>
    <div class="item">
        <h4 class="degree">BSc in Computer Science</h4>
        <h5 class="meta">Hochschule für Technik und Wirtschaft Dresden</h5>
        <div class="time">2014 - 2017</div>
    </div>
    <!--//item-->
    <div class="item">
        <h4 class="degree">Abitur</h4>
        <h5 class="meta">Martin-Andersen-Nexö-Gymnasium</h5>
        <div class="time">2006 - 2014</div>
    </div>
    <!--//item-->
</div>
<!--//education-container-->