<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Software Engineer</h3>
        <div class="time">October 2022 - Present</div>
      </div>
      <!--//upper-row-->
      <div class="company">FDTech GmbH, Chemnitz</div>
    </div>
    <!--//meta-->
    <div class="details">
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
        dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
        sit amet.
      </p>
    </div>
    <!--//details-->
  </div>
  <!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Full Stack Developer</h3>
        <div class="time">September 2017 - November 2021</div>
      </div>
      <!--//upper-row-->
      <div class="company">Saxony Media Solutions GmbH, Dresden</div>
    </div>
    <!--//meta-->
    <div class="details">
      <p>
        Spearheaded full-stack development and project leadership for Advanced Planning and Scheduling (APS) software. Key responsibilities
        involved diverse projects, including data analysis of semiconductor production history for Robert Bosch GmbH, leading development
        within the 'Productive4.0' initiative, creating tailored backend solutions for Elbe Flugzeugwerke GmbH, and implementing data
        analysis and visualization for Koenig & Bauer AG's production planning. To deliver these solutions, robust backend systems were
        engineered using Java and Hibernate for enterprise-level features, complemented by Python for data processing tasks. These systems
        communicated via REST-APIs and managed persistent data across various relational databases including Oracle, PostgreSQL, and SQLite.
        On the frontend, dynamic and responsive user interfaces were developed leveraging the Angular framework with TypeScript and
        JavaScript to ensure a seamless user experience.
      </p>
    </div>
    <!--//details-->
  </div>
  <!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Internship</h3>
        <div class="time">March 2017 - May 2017</div>
      </div>
      <!--//upper-row-->
      <div class="company">New Web Technology GmbH, Langenfeld</div>
    </div>
    <!--//meta-->
    <div class="details">
      <p>
        During the internship, which formed the basis of my bachelor thesis, I independently developed a modular system for feature
        recognition in satellite images using deep learning. My responsibilities included creating a tool to automatically download
        satellite images via the Google Static Maps API and designing an interface for manual training data generation. I implemented and
        trained Convolutional Neural Networks using Python and the Keras framework, comparing existing architectures to devise a custom
        network structure suitable for the task. Furthermore, I developed various visualization methods for the classification results using
        Matplotlib. This project involved handling data pipelines, automating processes, and applying machine learning techniques to
        geospatial image analysis, demonstrating strong technical skills in Python, deep learning frameworks, and independent, goal-oriented
        scientific work.
      </p>
    </div>
    <!--//details-->
  </div>
  <!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Tutor</h3>
        <div class="time">October 2016 - February 2017</div>
      </div>
      <!--//upper-row-->
      <div class="company">Hochschule für Technik und Wirtschaft Dresden</div>
    </div>
    <!--//meta-->
    <div class="details">
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
        dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
        sit amet.
      </p>
    </div>
    <!--//details-->
  </div>
  <!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Student Research Assistant</h3>
        <div class="time">July 2015 - January 2017</div>
      </div>
      <!--//upper-row-->
      <div class="company">Hochschule für Technik und Wirtschaft Dresden</div>
    </div>
    <!--//meta-->
    <div class="details">
      <p>
        The objective was to automatically classify regions within occupancy grid maps (e.g., identifying 'floor' vs. 'obstacle') based on
        local geometric patterns. My core responsibilities involved developing a complete data processing and modeling pipeline in Python.
        This included researching suitable deep learning (Theano, Lasagne, Nolearn) and data handling/visualization libraries (Scipy,
        Matplotlib), and implementing a script to extract overlapping local patches from large grid maps. I engineered features for these
        patches by calculating the Euclidean Distance Transform (EDT) on binarized versions, capturing proximity information, and automated
        the labeling process to create datasets for training. Subsequently, I implemented, trained, and systematically evaluated various
        neural network architectures, including Multi-Layer Perceptrons (MLPs) and Convolutional Neural Networks (CNNs), using Lasagne and
        Nolearn. This involved experimenting with network structures, filter sizes, applying regularization techniques like Dropout, and
        utilizing data augmentation (random flipping). Finally, I developed scripts for performance analysis (accuracy, confusion matrices)
        and visualization of learned features, network activations, training progress, and the final reconstructed semantic map,
        contributing to the overall evaluation and understanding of the deep learning approach for this task.
      </p>
    </div>
    <!--//details-->
  </div>
  <!--//item-->

</section>
<!--//section-->