<section class="section projects-section">

  <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
  <div class="intro">
    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
  </div>
  <!--//intro-->

  <div class="item">
    <span class="project-title"><a href="http://saritus.github.io/UFC/">UFC</a></span> -
    <span class="project-tagline">A karaoke file creater for UltraStar written in Javascript with Framer.js</span>
  </div>
  <!--//item-->

  <div class="item">
    <span class="project-title"><a href="https://saritus.github.io/hap/">hap</a></span> -
    <span class="project-tagline">An Android app written in C# with Xamarin to display events and news from HTW Dresden on a map</span>
  </div>
  <!--//item-->

  <div class="item">
    <span class="project-title"><a href="https://saritus.github.io/Smart-Rockets/">Smart-Rockets</a></span>    -
    <span class="project-tagline">A genetic algorithm programmed written in Javascript with p5.js</span>
  </div>
  <!--//item-->

  <div class="item">
    <span class="project-title"><a href="https://github.com/Saritus/Semantic-Grid-Map">Semantic-Grid-Map</a></span>    -
    <span class="project-tagline">A python implementation for deeplearning with Theano, Lasagne and nolearn to classify room types based on a two dimensional floor plan</span>
  </div>
  <!--//item-->

  <div class="item">
    <span class="project-title"><a href="https://saritus.github.io/Game-of-Life-and-Death/">Game-of-Life-and-Death</a></span>    -
    <span class="project-tagline">A browser version of the GOLAD-App, originally created by Cary Kaiming Huang</span>
  </div>
  <!--//item-->

</section>
<!--//section-->
