<section class="section projects-section">

    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    <div class="intro">
        <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
    </div>
    <!--//intro-->

    <div class="item">
        <span class="project-title"><a href="https://cdn.rawgit.com/Saritus/UFC/master/index.html">UFC</a></span> -
        <span class="project-tagline">An Ultrastar-File-Creator</span>
    </div>
    <!--//item-->

    <div class="item">
        <span class="project-title"><a href="https://saritus.github.io/hap/">hap</a></span> -
        <span class="project-tagline">living campus</span>
    </div>
    <!--//item-->

    <div class="item">
        <span class="project-title"><a href="https://cdn.rawgit.com/Saritus/Smart-Rockets/master/index.html">Smart-Rockets</a></span> -
        <span class="project-tagline">A genetic algorithm programmed with p5.js</span>
    </div>
    <!--//item-->

    <div class="item">
        <span class="project-title"><a href="https://github.com/Saritus/Semantic-Grid-Map">Semantic-Grid-Map</a></span> -
        <span class="project-tagline">A python implementation for deeplearning with Theano, Lasagne and nolearn, written in Python, to classify room types</span>
    </div>
    <!--//item-->

</section>
<!--//section-->
