<section class="section projects-section">

  <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
  <div class="intro">
    <p>
      You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.
    </p>
  </div>
  <!--//intro-->

  <div class="item">
    <span class="project-title"><a href="https://productive40.eu/">Productive 4.0</a></span> -
    <span class="project-tagline">
      A major €106M European H2020/ECSEL initiative with 109 partners aimed at advancing Europe's leadership in the Digital Industry through
      enhanced IoT integration and digitalization across the value chain. My role was centered within Work Package 4 (WP4), titled 'Process
      Virtualization'. In this capacity, I focused on the development and application of complex, agent-based simulation models to analyze,
      virtualize, and optimize industrial processes, with a specific emphasis on semiconductor supply chains. Key responsibilities included
      utilizing data analysis techniques to parameterize and interpret these sophisticated simulations , applying simulation insights to
      improve Advanced Planning & Scheduling (APS) systems within the supply chain context , and contributing to the practical
      implementation of Digital Twin concepts for enhanced process management. This work involved collaboration with major industry
      partners, such as Bosch, particularly on developing standardized data models essential for effective simulation and planning in the
      semiconductor sector.
    </span>
  </div>
  <!--//item-->

  <div class="item">
    <span class="project-title"><a href="https://saritus.github.io/hap/">hap</a></span> -
    <span class="project-tagline">An Android app written in C# with Xamarin to display events and news from HTW Dresden on a map</span>
  </div>
  <!--//item-->

  <div class="item">
    <span class="project-title"><a href="https://saritus.github.io/Smart-Rockets/">Smart-Rockets</a></span> -
    <span class="project-tagline">A genetic algorithm programmed written in Javascript with p5.js</span>
  </div>
  <!--//item-->

  <div class="item">
    <span class="project-title"><a href="https://github.com/Saritus/Semantic-Grid-Map">Semantic-Grid-Map</a></span> -
    <span class="project-tagline">A python implementation for deeplearning with Theano, Lasagne and nolearn to classify room types based on a two dimensional floor plan</span>
  </div>
  <!--//item-->

  <div class="item">
    <span class="project-title"><a href="https://saritus.github.io/Game-of-Life-and-Death/">Game-of-Life-and-Death</a></span> -
    <span class="project-tagline">A browser version of the GOLAD-App, originally created by Cary Kaiming Huang</span>
  </div>
  <!--//item-->

</section>
<!--//section-->